<nav class="">
  <% if flash[:alert] %>
    <div><%= flash[:alert] %></div>
  <% end %>

    <ul>
        <% unless current_page?(root_path) %>
          <h2> <%= link_to "Home", root_path %> </h2>
        <% end %>
        <% if user_signed_in? %>
          <li>Signed in as <%= current_user.email %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %></li>
        <% end %>
    </ul>
</nav>
